<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true" />
  <appSettings>
    <add key="device_id" value="efc02a00-7125-4ccd-a310-bdf6d9208127" />
    <add key="mode_id" value="00000000-0000-0000-0000-000000000000" />
    <add key="verify_id" value="00000000-0000-0000-0000-000000000000" />
    <add key="" value="00000000-0000-0000-0000-000000000000" />
    <add key="ERP_Key" value="y3aGSugYFJrEaafcEat/WJtK22BY9OO71PrAccaTSaHue/FcdUJ6vYDuXZvllW1w" />
    <!--<add key="EXP_Key" value="lJy2Anb24xhNXZ0joMAR8MNh03CIyELOCPozIBhQ2MeQILN0DdvghEtvOz9tvB8Vo7dP04EVGQFTavui3mjLAhxxclPzbl2JLblGLXBESn9VO3I09xHLQsn9fiAYoF30" />-->
    <add key="EXP_Key" value="OJ0yof0PvYZkJc8c36EWsm/mejfBnBb1TUpLBNz4EdEWKbXVzEXqjOMERpj1U4foUlMdNRzy+tjmY0rkRb1Z/CvY0fHkC0d/qK9ErX4Jb6X6A+UMFOlxrTB7pEt6x/Ma" />
    <add key="SlipEnable" value="" />
    <add key="Company_Name" value="Victory Information" />
    <add key="ImagePath" value="EmployeeImages\\" />
    <add key="PortalImagePath" value="EmployeeImages\\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="idAutoGenOn" value="false" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_AttendanceService" closeTimeout="00:15:00"
          openTimeout="00:15:00" receiveTimeout="00:15:00" sendTimeout="00:15:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_ERPService" closeTimeout="00:15:00"
          openTimeout="00:15:00" receiveTimeout="00:15:00" sendTimeout="00:15:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_ERPService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:11651/AttendanceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AttendanceService"
        contract="AttendanceService.AttendanceService" name="BasicHttpBinding_AttendanceService" />
      <endpoint address="http://localhost:16630/ERPService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ERPService" contract="ERPService.ERPService"
        name="BasicHttpBinding_ERPService" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="ERPConnectionString" connectionString="Data Source=DESKTOP-5VQ3HLG\SQLEXPRESS;Initial Catalog=CR;Persist Security Info=True;User ID=sa;Password=victory@123" providerName="System.Data.SqlClient" />
    <add name="ERP.Properties.Settings.ERP_NEW_MagConnectionString" connectionString="Data Source=HARSHANA-PC\SQLEXPRESS;Initial Catalog=ERP_NEW_Mag;Persist Security Info=True;User ID=sa;Password=hhh" providerName="System.Data.SqlClient" />
    <add name="ERP.Properties.Settings.Lakpohora_SourceConnectionString" connectionString="Data Source=SHANAKA-LAP\SQLEXPRESS;Initial Catalog=Lakpohora_Source;User ID=sa;Password=victory@123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ERP.Properties.Settings.ERP_DinemoreConnectionString" connectionString="Data Source=NUWAN-PC\SQLEXPRESS;Initial Catalog=ERP_Dinemore;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ERP.Properties.Settings.Lakpohora_SourceConnectionString" connectionString="Data Source=SHANAKA-LAP\SQLEXPRESS;Initial Catalog=Lakpohora_Source;Persist Security Info=True;User ID=sa;Password=victory@123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>