<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- Report Connection String-->
    <add name="ERPConnectionString" connectionString="data source=207.180.217.101\SQLEXPRESS;initial catalog=SriKantha_ERP;persist security info=True;user id=sa;password=Victory@123#*" providerName="System.Data.SqlClient" />
    <!-- Data Base Connection String-->
    <add name="ERPEntities" connectionString="metadata=res://*/ERPDataModel.csdl|res://*/ERPDataModel.ssdl|res://*/ERPDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.180.217.101\SQLEXPRESS;initial catalog=SriKantha_ERP;persist security info=True;user id=sa;password=Victory@123#*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- Thakral DB Connection-->
    <add name="ThakralDBConnectionString" connectionString="Data Source=NAVSERVER;Initial Catalog=Credit Control Demo;Persist Security Info=True;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ThakralDBName" value="[Test-Ceylon Fertilizer Comp_$trns_PayrollDetails]"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>  
  </system.web> 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>  
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
